body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: #231f20;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  border: 0;
  box-shadow: 0px 4px 20px rgb(0 0 0 / 25%);
}

.sidebar {
  background-color: #ffffff;
  box-shadow: 0px 4px 20px rgb(0 0 0 / 25%);
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  width: 300px;
  height: 100vh;
}
.sidebar .title {
  display: flex;
  align-items: center;
}
.sidebar h1 {
  font-weight: 700;
  font-size: 25px;
  color: #fff;
  display: inline-block;
  line-height: 1;
  margin: 0 0 5px 10px;
}
.sidebar h2 {
  font-weight: 700;
  font-size: 20px;
  display: inline-block;
  line-height: 1;
  margin: 0 0 0 10px;
}
.sidebar h4 {
  font-weight: 500;
  font-size: 15px;
  color: #c6c6c6;
  margin: 0 0 0 10px;
}

.metro {
  background-color: #006d58;
  padding: 30px;
}
.metro .project {
  display: flex;
  align-items: flex-start;
  margin-bottom: 30px;
}
.metro .project .title {
  display: block;
}
.travel {
  display: flex;
  margin-bottom: 20px;
}
.travel .travel-icon {
  display: flex;
  align-items: center;
  margin-right: 15px;
}
.travel .travel-choices {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.travel .choice:last-child {
  margin-top: 15px;
}

.travel .travel_select__control {
  background-color: #c4c4c4;
  border: 0;
  border-radius: 10px;
  transition: none;
}
.travel .travel_select__placeholder,
.travel .travel_select__single-value,
.travel .travel_select__input input {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: #231f20;
}
.travel .travel_select__indicator {
  color: #fff;
}
.travel .travel_select__menu {
  background-color: #c4c4c4;
  border: 0;
  box-shadow: 0px 4px 20px rgb(0 0 0 / 25%);
}
.travel .travel_select__option {
  font-weight: 500;
  color: #231f20;
}

/* Switch */
.travel-mode {
  margin-bottom: 20px;
}
.travel-mode input {
  opacity: 0;
  width: 0;
  height: 0;
}
.switch-label {
  display: flex;
  align-items: center;
  justify-content: center;
}
.switch-label .label {
  position: relative;
  cursor: pointer;
  display: inline;
}
.switch-label p {
  font-weight: 600;
  color: #fff;
  margin: 0 0 0 10px;
}
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}
.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #c4c4c4;
  border-radius: 24px;
  cursor: pointer;
  transition: 0.4s;
}
.slider:before {
  position: absolute;
  border-radius: 50%;
  content: '';
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: #fff;
  transition: 0.4s;
}
input:checked + .slider {
  background-color: #ef4035;
}
input:checked + .slider:before {
  transform: translateX(16px);
}
input:focus + .slider {
  box-shadow: 0 0 5px #ef4035;
}

.travel-error {
  font-weight: 500;
  font-size: 15px;
  color: #fcbd0f;
  text-align: center;
  margin-bottom: 30px;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
}
.travel-error.has-error {
  opacity: 1;
  visibility: visible;
}
.travel-submit {
  display: flex;
  justify-content: center;
}
.travel-submit button {
  background-color: #ed4e17;
  border-radius: 10px;
  font-size: 15px;
  color: #fff;
  cursor: pointer;
  padding: 10px 35px;
  transition: 0.5s;
}
.travel-submit button:hover {
  background-color: #fcbd0f;
}
.travel-submit button:focus {
  background-color: #ef4035;
}

.instructions {
  overflow: auto;
}
.white-box {
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 0 30px;
}
.white-box .content p {
  font-weight: 500;
  font-size: 15px;
  color: #808080;
}
.white-box .content span {
  color: #ed4e17;
}
.white-box .captions {
  margin-top: 20px;
}
.white-box .caption {
  display: flex;
  margin-bottom: 5px;
}
.white-box .caption .text {
  margin-top: 2px;
  margin-left: 15px;
}
.white-box .caption p {
  font-weight: 500;
  font-size: 14px;
  margin: 0;
}

.map-area {
  margin-left: 300px;
  height: 100vh;
}
